.uni-have-a-coupon .woocommerce-info{
    border-top-color: transparent;
    background: #2e3841;
    margin-bottom: 0;
    font-family: 'Montserrat';
    font-size: 14px;
    color: #fff;
    padding: 15px 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.uni-have-a-coupon .woocommerce-error::before, .uni-have-a-coupon .woocommerce-info::before, .uni-have-a-coupon .woocommerce-message::before{
    display:  none;
}
.uni-have-a-coupon .showcoupon{
    display:  none;
}
.uni-have-a-coupon form.checkout_coupon{
    margin-top: 0;
    display: block !important;
    background: #F4F4F4;
    border-color: transparent;
    border-radius: 0;
}
.uni-have-a-coupon .form-row-first .input-text{
    height: 50px;
    border: transparent;
    background: #fff;
    width: 100%;
}
.uni-have-a-coupon .form-row{
    padding: 0 !important;
    margin: 0 !important;
}

.uni-have-a-coupon .form-row-first{
    width: 85% !important;
}
.uni-have-a-coupon .form-row-last{
    width: 15% !important;
}

.uni-have-a-coupon .form-row-last .button{
    background: #ffc000;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 500;
    color: #fff;
    border: 1px solid #ffc000;
    border-radius: 0;
    padding: 17px;
    transition:  all 0.5s;
}
.uni-have-a-coupon .form-row-last .button:hover{
    background:  transparent;
    color: #ffc000;
}

.woocommerce-checkout .widget-area{
    display:  none;
}
.woocommerce-checkout .content-area{
    width: 100%;
}

.uni-billing-details h3{
    border-top-color: transparent;
    background: #2e3841;
    margin-bottom: 0;
    font-family: 'Montserrat';
    font-size: 14px !important;
    color: #fff;
    padding: 15px 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.uni-billing-details label{
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    line-height: 1.57;
    text-align: left;
    color: #333333;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.uni-billing-details input{
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    border-color:  transparent;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.57;
    text-align: left;
    color: #e0e0e0;
    border-radius: 0;
}
.uni-billing-details input:focus{
    border-color: #ffc000;
}
.woocommerce form .form-row.woocommerce-invalid label{
    color: #ffc000;
}
.woocommerce form .form-row.woocommerce-invalid input.input-text{
    border-color: #ffc000;
}
.uni-billing-details .select2-container .select2-selection--single{
    height: 40px;
    border-color:  transparent;
    border-radius: 0;
}
 .uni-billing-details .select2-dropdown{
     border-color: #ffc000 !important;
 }
.uni-billing-details .select2-container .select2-selection--single:focus{
    outline: 1px solid #ffc000;
}
.uni-billing-details .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 40px;
}
.uni-billing-details .select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 40px;
}
 .uni-billing-details .uni-billing-fields{
     display: flow-root;
     background: #f4f4f4;
     padding: 15px 10px 10px 10px;
 }


 /*FROM SHIPPING*/
.uni-checkout-form-shipping .woocommerce-shipping-fields h3{
    display: block;
    width: 100%;
    border-top-color: transparent;
    background: #2e3841;
    margin-bottom: 0;
    padding: 4px 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.uni-checkout-form-shipping .woocommerce-shipping-fields h3 .input-checkbox{
    display: none;
}
.uni-checkout-form-shipping .woocommerce-shipping-fields h3 span{
    font-family: 'Montserrat';
    font-size: 14px !important;
    color: #fff;
}
.uni-checkout-form-shipping label{
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    line-height: 1.57;
    text-align: left;
    color: #333333;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.uni-checkout-form-shipping input{
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    border-color:  transparent;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.57;
    text-align: left;
    color: #e0e0e0;
    border-radius: 0;
}
.uni-checkout-form-shipping input:focus{
    border-color: #ffc000;
}
.woocommerce form .form-row.woocommerce-invalid label{
    color: #ffc000;
}
.woocommerce form .form-row.woocommerce-invalid input.input-text{
    border-color: #ffc000;
}
.uni-checkout-form-shipping .select2-container .select2-selection--single{
    height: 40px;
    border-color:  transparent;
    border-radius: 0;
}
.uni-checkout-form-shipping .select2-dropdown{
    border-color: #ffc000 !important;
}
.uni-checkout-form-shipping .select2-container .select2-selection--single:focus{
    outline: 1px solid #ffc000;
}
.uni-checkout-form-shipping .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 40px;
}
.uni-checkout-form-shipping .select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 40px;
}
.uni-checkout-form-shipping .shipping_address{
    display: block !important;
    background: #f4f4f4;
    padding: 0 10px 10px 10px;
}

/*YOUR ORDER*/
.uni-checkout-payment{
    width: 48.5% !important;
    float:  right;
}
.uni-checkout-order-review{
    width: 48.5% !important;
    float:  left;
}
.uni-checkout-order-review thead tr th{
    background-color: #2E3841;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 14px 12px !important;
}
.uni-checkout-order-review thead tr th.product-name{
    width: 60%;
}
.uni-checkout-order-review thead tr th.product-total{
    width: 40%;
}
.uni-checkout-order-review thead tr th{
    border-color: transparent;
}
.uni-checkout-order-review tbody tr.cart_item td{
    border: 1px solid #fff;
    padding: 14px 20px;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Montserrat';
    color: #B0B0B0;
}
.uni-checkout-order-review tfoot tr.cart-subtotal th{
    border: 1px solid #fff;
    padding: 14px 20px;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Montserrat';
    color: #2E3841;
}
.uni-checkout-order-review tfoot tr.cart-subtotal td{
    border: 1px solid #fff;
    padding: 14px 20px;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Montserrat';
    color: #2E3841;
}
.uni-checkout-order-review tfoot tr.shipping th{
    border: 1px solid #fff;
    padding: 14px 20px;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Montserrat';
    color: #2E3841;
}
.uni-checkout-order-review tfoot tr.shipping td{
    border: 1px solid #fff;
    padding: 14px 20px;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Montserrat';
    color: #2E3841;
}
.uni-checkout-order-review tfoot tr.order-total th{
    border: 1px solid #fff;
    padding: 14px 20px;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Montserrat';
    color: #ffc000;
}
.uni-checkout-order-review tfoot tr.order-total td{
    border: 1px solid #fff;
    padding: 14px 20px;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Montserrat';
    color: #ffc000;
}
.uni-checkout-order-review{
    background: #F4F4F4;
    border-color:  transparent !important;
}

/*CHECKOUT PAYMENT*/
.woocommerce-checkout #payment.uni-checkout-payment{
    background: transparent;
     border-radius: 0;
}
.uni-checkout-payment ul.payment_methods{
    background: #F4F4F4;
    border-bottom-color: transparent !important;
}
.uni-checkout-payment ul.payment_methods label{
    color: #2E3841;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Montserrat';
}
.woocommerce-checkout #payment.uni-checkout-payment .payment_method_paypal .about_paypal{
    color: #2E3841;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Montserrat';
    box-shadow: none;
    padding-left: 10px;
    line-height:  100px;
}
.woocommerce-checkout #payment.uni-checkout-payment .payment_method_paypal .about_paypal:hover{
    color: #ffc000;
}
.woocommerce-checkout #payment.uni-checkout-payment .payment_method_paypal img{
    max-height: 100px;
}
.woocommerce-checkout #payment.uni-checkout-payment input.button.alt{
    background: #ffc000;
    width: 100%;
    padding: 15px;
    border: 2px solid #ffc000;
    border-radius: 0;
}
.woocommerce-checkout #payment.uni-checkout-payment input.button.alt:hover{
    background: transparent;
    color: #ffc000;
}
.woocommerce-checkout #payment.uni-checkout-payment div.form-row{
    padding:  10px 0;
}