.uni-single-product .entry-title{
 color: #2E3841;
 font-family: 'Montserrat';
 font-weight: 600;
 margin-top: 0;
 text-transform: capitalize;
}
.uni-single-product .price span{
  font-size: 28px;
  color: #FFC000;
  display: inline-block;
}
.uni-single-product .entry-summary{
 font-size: 14px;
 color: #B0B0B0 !important;
 display: inline-block;
}
.uni-single-product .woocommerce-review-link{
  box-shadow: none;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Montserrat';
  color: #B0B0B0;
}
.uni-single-product .woocommerce-product-details__short-description{
  font-size: 14px;
  font-weight: 300;
  font-family: 'Montserrat';
  color: #B0B0B0;
}
 .uni-single-product .single_add_to_cart_button{
     background-color: #ffc000 !important;
     border: 1px solid #ffc000 !important;
     border-radius: 0 !important;
     padding: 18px 20px !important;
     font-size: 12px !important;
     font-weight: 300 !important;
     font-family: 'Montserrat' !important;
     text-transform: uppercase !important;
     transition: all 0.4s;
 }
.uni-single-product .single_add_to_cart_button:hover{
    background-color: transparent !important;
    color: #ffc000 !important;

}
 .uni-single-product .quantity .qty{
     height: 49px;
     margin-right: 20px;
 }
.uni-single-product .entry-summary{
    position:  relative;
}
.uni-single-product .entry-summary p.price{
    display:  inline-block;
    margin-right: 40px;
}
 .uni-single-product .entry-summary .woocommerce-product-rating{
     position: absolute;
     left: 115px;
 }
   .uni-single-product .entry-summary .product_meta span.posted_in{
       font-weight: 600;
       font-size: 14px;
       font-family: 'Montserrat';
       color: #B0B0B0;
       text-transform: uppercase;
   }
.uni-single-product .entry-summary .product_meta span a{
    font-size: 14px;
    font-weight: 300;
    font-family: 'Montserrat';
    color: #B0B0B0;
    text-transform: capitalize ;
    box-shadow:  none;
    transition:  all 0.3s;
}
.uni-single-product .entry-summary .product_meta span a:hover{
    color: #ffc000;
}
.uni-single-product .woocommerce-tabs ul.tabs{
    padding-left:  5px !important;
}
.uni-single-product .product .woocommerce-tabs ul.tabs li{
    border-radius:  0 !important;
    padding: 0 37px !important;
}
.uni-single-product div.product .woocommerce-tabs ul.tabs li a{
    padding:  10px 0;
    text-transform: uppercase;
    color: #B0B0B0;
}
.uni-single-product  div.product .woocommerce-tabs ul.tabs li::after,
.uni-single-product  div.product .woocommerce-tabs ul.tabs li::before{
    content: '';
    position:  relative !important;
    border: none !important;
}
.uni-single-product div.product .woocommerce-tabs ul.tabs li.active{
    background: #ffc000;
    border-bottom-color: #d3ced2;
}
.uni-single-product div.product .woocommerce-tabs ul.tabs li.active a{
    color: #fff;
}
.uni-single-product .woocommerce-Tabs-panel.panel{
    box-shadow:  none;
}
 .uni-single-product .woocommerce-Tabs-panel h2{
     display:  none;
 }
.uni-single-product #reviews #comments ol.commentlist li img.avatar{
    width: 95px;
}
.uni-single-product #reviews #comments ol.commentlist{
    padding: 0;
}
.uni-single-product #reviews #comments ol.commentlist li .comment-text{
    margin-left: 120px;
}
.uni-single-product #reviews #comments ol.commentlist li .comment-text p.meta strong{
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat';
    color: #2E3841;
    text-transform: uppercase ;
}
.uni-single-product #reviews #comments ol.commentlist li .comment-text p.meta time{
    font-size: 14px;
    font-weight: 300;
    font-family: 'Montserrat';
    color: #B0B0B0;
    text-transform: capitalize ;
}
.uni-single-product #review_form_wrapper #review_form .comment-reply-title{
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat';
    color: #2E3841;
    text-transform: uppercase;
    border-top: none;
}
 .uni-single-product #review_form_wrapper #review_form .comment-reply-title{
     font-size: 14px;
     font-weight: 600;
     font-family: 'Montserrat';
     color: #2E3841;
     text-transform: uppercase;
     border-top: none;
 }
 .uni-single-product .comment-form label{
     font-size: 14px;
     font-weight: 400;
     font-family: 'Montserrat';
     color: #2E3841;
     text-transform: capitalize;
     border-top: none;
 }
.uni-single-product #reviews #comment{
    height: 180px;
}

   .uni-single-product #reviews p.form-submit input#submit{
       padding: 15px 35px;
       background: #ffc000;
       color: #fff;
       border: 1px solid #ffc000;
       transition:  all 0.5s;
   }
.uni-single-product #reviews p.form-submit input#submit:hover{
    padding: 15px 35px;
    background: #fff;
    color: #ffc000;
    border-color:#ffc000 ;
}
.uni-single-product .related{
    padding-top: 60px;
}
.uni-single-product .related h2{
    position: relative;
    display: block;
    color: #2E3841;
    font-size: 30px;
    font-family: 'Montserrat';
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 24px;
    padding-bottom: 15px;
    margin-bottom: 40px;
}
.uni-single-product .related h2:before{
    content: '';
    background-color: #FFC000;
    position: absolute;
    bottom: 0;
    height: 43px;
    width: 3px;
    left: 0px;
}
.uni-single-product .related h2:after{
    content: '';
    background-color: #FFC000;
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 160px;
    left: 0;
    right: 0;
}
.uni-single-product ul li a h2{
    display: block;
    color: #2E3841;
    font-size: 22px !important;
    font-family: 'Montserrat';
    font-weight: 600;
    margin: 0;
    margin-bottom: 15px !important;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 0 !important;
    text-transform: capitalize !important;
    border-bottom: 1px solid #EAEAEA;
}
.uni-single-product ul li a h2:before{
    content: '';
    background: transparent !important;
}
.uni-single-product ul li a h2:after{
    content: '';
    background: transparent !important;
}
.uni-single-product .related ul li a h2:hover{
    color: #ffc000;
}
.uni-single-product  .related ul li{
    position: relative;
    margin-bottom: 55px;
}
.uni-single-product .related ul li .star-rating{
    display: block;
    color: #B3BDC7;
    font-size: 16px;
    float: right !important;
}
.uni-single-product .related ul li .price{
    display:  block;
    color: #FFC000;
    font-size: 18px;
    font-family: 'Montserrat';
    float: left !important;
}
.uni-single-product .related ul li .wp-post-image{
    display:  block;
    border: solid 1px #EAEAEA;
}

.uni-single-product .related ul li .add_to_cart_button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background:  #fff;
    border: 1px solid #B3BDC7;
    border-radius:  0;
    height: 36px;
    font-size: 14px;
    width: calc(100% - 39 * 4px);
    color: #2E3841;
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
    right: 15px;
    bottom: -5px;
    opacity: 0;
}
.uni-single-product .related ul li:hover .add_to_cart_button{
    opacity: 1;
}
.uni-single-product .related ul li .add_to_cart_button:hover{
    background: #ffc000;
    border-color: #ffc000;
    color: #fff;
}
.uni-single-product .related ul li .onsale{
    background: #ffc000;
}
.uni-single-product .related ul.products li.col-md-4{
    width:25%;
}
@media screen and (max-width: 991px){
    .uni-single-product .related ul.products li.col-md-4{
        width:100%;
    }
}
.uni-single-product .products li .woocommerce-loop-product__link:before{
    content: '';
    position: absolute;
    left: 15px;
    top: 0;
    width: 90%;
    height: 72.5%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    opacity: 0;
    transition:  all 0.5s;
}
.uni-single-product .products li:hover .woocommerce-loop-product__link:before{
    opacity: 1;
}
.uni-single-product .products li .woocommerce-loop-product__link:after{
    content: '\f002';
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    color: white;
    border: solid 3px white;
    border-radius: 50%;
    padding: 15px;
    opacity: 0;
    transition:  all 0.3s;
}
.uni-single-product .products li:hover .woocommerce-loop-product__link:after{
    opacity: 1;
}
.uni-single-product .products ul, .woocommerce ul.products{
    margin-left:-15px;
    margin-right:-15px;
}
.uni-single-product .related .price span{
    font-size: 18px;
}

.uni-single-product .widget-area{
    display:  none;
}
.uni-single-product .flex-viewport{
    border: 1px solid #EAEAEA !important;
}
.uni-single-product div.product div.images .flex-control-thumbs li{
    width: 20%;
    border: 1px solid #eaeaea;
}
.uni-single-product div.product .woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1){
    clear: inherit;
}
.uni-single-product div.product form.cart .variations label{
    font-size: 14px;
    font-family: 'Montserrat';
    color: #B0B0B0;
    text-transform: uppercase;
}
.uni-single-product div.product form.cart .variations select{
    height: 45px;
    min-width: 50%;
}
.uni-single-product div.product form.cart .variations select:focus{
    outline-color: #ffc000;
    border-color: #ffc000;
}
.uni-single-product div.product form.cart .variations td{
    vertical-align: baseline;
}
.uni-single-product div.product form.cart .variations td.value{
    width: 80%;
}
 .uni-single-product div.product form.cart .variations .reset_variations{
     font-size: 14px;
     font-family: 'Montserrat';
     color: #B0B0B0;
     text-transform: capitalize;
     box-shadow:  none;
 }
.uni-single-product div.product form.cart .variations .reset_variations:hover{
    color: #ffc000;
}
 .uni-single-product div.product form.cart .woocommerce-variation-price{
     padding-bottom: 15px;
 }
   .uni-single-product div.product .product_meta .sku_wrapper{
       display:  block;
       padding-bottom: 5px;
       font-weight: 600;
       font-size: 14px;
       font-family: 'Montserrat';
       color: #B0B0B0;
       text-transform: uppercase;
   }
.uni-single-product div.product .product_meta .sku_wrapper span{
    font-size: 14px;
    font-weight: 300;
    font-family: 'Montserrat';
    color: #B0B0B0;
    text-transform: capitalize;
}
.uni-single-product div.product form.cart{
    padding: 20px 0;
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
}
.uni-single-product div.product span.price ins{
    font-weight: 400;
}

.uni-single-product .up-sells h2{
    position: relative;
    display: block;
    color: #2E3841;
    font-size: 30px;
    font-family: 'Montserrat';
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 24px;
    padding-bottom: 15px;
    margin-bottom: 40px;
}
.uni-single-product .up-sells h2:before{
    content: '';
    background-color: #FFC000;
    position: absolute;
    bottom: 0;
    height: 43px;
    width: 3px;
    left: 0px;
}
.uni-single-product .up-sells h2:after{
    content: '';
    background-color: #FFC000;
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 160px;
    left: 0;
    right: 0;
}
.uni-single-product .up-sells ul.products li.col-md-4{
    width:25%;
}
@media screen and (max-width: 991px){
    .uni-single-product .up-sells ul.products li.col-md-4{
        width:100%;
    }
}
.uni-single-product .up-sells ul li a h2:hover{
    color: #ffc000;
}
.uni-single-product  .up-sells ul li{
    position: relative;
    margin-bottom: 55px;
}
.uni-single-product .up-sells ul li .star-rating{
    display: block;
    color: #B3BDC7;
    font-size: 16px;
    float: right !important;
}
.uni-single-product .up-sells ul li .price{
    display:  block;
    color: #FFC000;
    font-size: 18px;
    font-family: 'Montserrat';
    float: left !important;
}
.uni-single-product .up-sells ul li .wp-post-image{
    display:  block;
    border: solid 1px #EAEAEA;
}

.uni-single-product .up-sells ul li .add_to_cart_button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background:  #fff;
    border: 1px solid #B3BDC7;
    border-radius:  0;
    height: 36px;
    font-size: 14px;
    width: calc(100% - 39 * 4px);
    color: #2E3841;
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
    right: 15px;
    bottom: -5px;
    opacity: 0;
}
.uni-single-product .up-sells ul li:hover .add_to_cart_button{
    opacity: 1;
}
.uni-single-product .up-sells ul li .add_to_cart_button:hover{
    background: #ffc000;
    border-color: #ffc000;
    color: #fff;
}
.uni-single-product .up-sells ul li .onsale{
    background: #ffc000;
}
.uni-single-product .up-sells .price span{
    font-size: 18px;
}