.woocommerce-cart .content-area{
    width: 100% !important;
}
.woocommerce-cart .widget-area{
    display:  none;
}
.uni-cart thead{
    background-color: #2E3841;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}
.uni-cart thead tr th{
    font-family: 'Montserrat';
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    border-color: transparent;
}
.uni-cart thead tr th.product-name{
    text-align: left;
    width: calc(500 / 1170 * 100%);
}
.uni-cart thead tr th.product-price{
    text-align: center;
}
.uni-cart thead tr th.product-quantity{
    text-align: center;
}
.uni-cart thead tr th.product-subtotal{
     text-align: center;
 }

.uni-cart table.cart img{
    width: 60px;
    float: left;
    margin-right: 20px;
    background: #fff;
}
.uni-cart tbody{
    background-color: #F4F4F4;
}
.uni-cart tbody .name-product a{
    font-family: 'Montserrat';
    font-weight: 600;
    color: #2E3841;
    text-transform: capitalize;
    font-size: 14px;
    box-shadow: none;
    float: left;
    padding-top: 18px;
}
.uni-cart tbody .name-product a:hover{
    color: #ffc000;
}
.uni-cart tbody tr td{
    padding: 20px !important;
}
.uni-cart tbody tr td.product-price{
    font-size: 14px;
    font-weight: 300;
    font-family: 'Montserrat';
    color: #B0B0B0;
}
.uni-cart tbody tr td.product-subtotal{
    font-size: 14px;
    font-weight: 300;
    font-family: 'Montserrat';
    color: #ffc000;
}
.uni-cart tbody tr td.product-remove a.remove{
    border-radius: 0;
    box-shadow: none;
    margin:  0 auto;
    color: #8D8D8D !important;
    font-size: 24px !important;
    text-transform: uppercase;
}
.uni-cart tbody tr td.product-remove a.remove:hover{
    background: transparent !important;
    color: #e32c2c !important;
}
.uni-cart tbody tr td.product-quantity .quantity .qty{
    width: 100px !important;
}
  .uni-cart tbody tr.uni-coupon-update #coupon_code{
      width: 310px !important;
      min-height: 50px !important;
      margin-right:  0;
      padding: 6px 12px !important;
      background:  #fff;
      border-color: transparent ;
  }
.uni-cart tbody tr.uni-coupon-update #coupon_code:focus{
    border-color: #ffc000 ;
}
.uni-cart tbody tr.uni-coupon-update .coupon .button{
    min-height: 50px;
    padding: 13px 20px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #ffc000;
    background: #ffc000;
    color: #fff;
    border-radius: 0;
    transition:  all 0.5s;
}
.uni-cart tbody tr td{
    border-color: #fff;
}
.uni-cart table.shop_table{
    border-color: #fff;
}
.uni-cart table.shop_table td{
    border-top-color: transparent !important;
}
.uni-cart tbody tr.uni-coupon-update .coupon .button:hover{
    background: #fff;
    color: #ffc000;
    border-color: #ffc000;
}
.uni-cart tbody tr.uni-coupon-update .button{
    min-height: 50px;
    padding: 13px 20px;
    font-size: 14px;
    font-weight: 600;
    border: 2px solid #ffc000;
    background: #ffc000;
    color: #fff;
    border-radius: 0;
    transition:  all 0.5s;
}
.uni-cart tbody tr.uni-coupon-update .button:hover{
    background: #fff;
    color: #ffc000;
    border-color: #ffc000;
}

.uni-cart .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals{
    float:  left;
    width: 57.266%;
}

.uni-cart .cart_totals h2{
    font-size: 14px !important;
    font-family: 'Montserrat';
    text-align: left;
    padding:  15px 20px;
    background-color: #2E3841;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
}
.uni-cart .cart-collaterals .cart_totals table th{
    width: 24%;
    border-bottom:1px solid #fff;
    border-right:1px solid #fff;
    border-top-color: transparent;
}
.uni-cart .cart_totals tbody tr th{
    padding:  20px !important;
    font-size: 14px;
    font-family: 'Montserrat';
    color: #2E3841;
    font-weight: 600;
    text-transform: capitalize;
}
.uni-cart .cart_totals tbody tr.order-total td{
    font-size: 14px;
    font-family: 'Montserrat';
    color: #2E3841;
    font-weight: 600;
    text-transform: capitalize;
}
.uni-cart .wc-proceed-to-checkout a.button.alt{
    background-color: #ffc000;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat';
    min-height: 50px;
    padding: 13px 20px;
    text-align: center;
    line-height: 22px;
    border-radius: 0;
    border:  2px solid #ffc000;
}
.uni-cart .wc-proceed-to-checkout a.button.alt:hover{
    background: transparent;
    color: #ffc000;
    border-color: #ffc000;
}
.uni-cart table.shop_table{
    margin-bottom: 80px;
}
.uni-cart .cart_totals .select2-container .select2-selection--single{
    height: 50px;
    border: 1px solid transparent;
    border-radius: 0;
}
.uni-cart .cart_totals .select2-container .select2-selection--single:focus{
    border-color: #ffc000;
    outline: none;
}
.uni-cart .cart_totals .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 50px !important;
}
.uni-cart .cart_totals .select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 50px !important;
}
 .uni-cart .cart_totals .shipping-calculator-form{
     display:  block !important;
 }
.uni-cart .cart_totals .form-row input.input-text{
    height: 50px;
    background: #fff;
    border:  none;
    border-radius: 0;
}
.uni-cart .cart_totals button.button{
    background: #ffc000;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 500;
    color: #fff;
    border: 2px solid #ffc000;
    border-radius: 0;
    padding: 16px;
    transition:  all 0.5s;
}
.uni-cart .cart_totals button.button:hover{
    background:  transparent;
    color: #ffc000;
}
.uni-cart .woocommerce-message{
    border-top-color: #ffc000;
}
.uni-cart .woocommerce-message:before{
   color: #ffc000;
}
.uni-cart .cart_totals .shipping-calculator-button{
    font-weight: 600;
    color: #2E3841;
    margin-bottom: 13px;
    font-family: 'Montserrat';
    font-size: 14px;
    box-shadow:  none;
}
.woocommerce-message{
    border-top-color: #ffc000;
}
.woocommerce-message:before{
    color: #ffc000;
}
.return-to-shop a.button{
    background: #ffc000;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 500;
    color: #fff;
    border: 2px solid #ffc000;
    border-radius: 0;
    padding: 16px;
    transition:  all 0.5s;
}
.return-to-shop a.button:hover{
    background:  transparent;
    color: #ffc000;
}
.uni-cart .cart-collaterals .cart_totals table select{
    height: 50px !important;
    border-color: transparent;
}